# Node.js
node_modules/
npm-debug.log
yarn-error.log
*.log
*.lock

# Deno
.cache/
deps.js
.tsbuildinfo

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System
.DS_Store
Thumbs.db
.env